<%= simple_form_for(@store_flavor) do |f| %>
  <% if @store_flavor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_flavor.errors.count, "error") %> prohibited this store_flavor from being saved:</h2>

      <ul>
      <% @store_flavor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <!--form attributes-->
<div class="form-row">
  
      <div class="form-group col-md-4">

      <%= f.input :store_id, :class => "form-control", collection: Store.active.all %>
      </div>
      

</div>

<div class="form-row">
  
  <div class="form-group col-md-2">
    <label for="flavor_id"><%= f.label :flavor_id %></label>
    <%= f.text_field :flavor_id, :class => "form-control" %>
  </div>
  
  
</div>


<%= f.submit "Submit", :class => 'btn btn-primary' %>
<br/>

<br/>
<% end %>

