<!--navigation bar-->
    <div class="container-fluid" >

		    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F0EFEE;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <span class="nav-link"><%= link_to 'All', employees_path %></span> 
      </li>
      <li class="nav-item">
        <span class="nav-link"><%= link_to 'Younger than 18', younger_employees_path %></span> 
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to '18 or Older', older_employees_path %></span> 
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'Active', active_employees_path %></span> 
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'Inactive', inactive_employees_path %></span> 
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'Regulars', regulars_employees_path %></span> 
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'Managers', managers_employees_path %></span> 
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'Admins', admins_employees_path %></span> 
      </li>

    </ul>

    
  </div>
  
</nav>
</div>


<!--link to new employee-->
<%= link_to 'New Employee', new_employee_path %>
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Employee</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
 
    </tr>
  </thead>
  <tbody>
    
      
      <% @employees.each do |employee| %>
        <tr>
          <td><%= link_to employee.name, employee_path(employee) %></td>
          <td><%= link_to 'Edit', edit_employee_path(employee), :class=> "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', employee, confirm: 'Are you sure?', method: :delete, :class=> "btn btn-danger" %></td>
        </tr>
      <% end %>
    
    
  </tbody>
</table>


<br />

<br />


