<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Full Name</th>
      <th scope="col">SSN</th>
      <th scope="col">Date Of Birth</th>
     <th scope="col">Phone</th>
     <th scope="col">Role</th>
     <th scope="col">Active</th>
     <th scope="col">Assignments</th>
     <th scope="col">Store</th>
    </tr>
  </thead>
  <tbody>
    
      
      
        <tr>
          <td><%= @employee.proper_name %> </td>
          <td><%= @employee.ssn %></td>
          <td><%= @employee.date_of_birth %></td>
          <td><%= @employee.phone %></td>
          <td><%= @employee.role %></td>
          <td><%= @employee.active %></td>
          <td><%= link_to 'View All', assignment_path(@employee.current_assignment) unless @employee.current_assignment.nil? %></td>
          <td><%= link_to @employee.current_assignment.store.name, store_path(@employee.current_assignment.store) unless @employee.current_assignment.nil? %></td>
        </tr>
      
    
    
  </tbody>
</table>


<br />


<br />

<%= link_to 'Edit', edit_employee_path(@employee), :class => 'btn btn-warning' %> |
<%= link_to 'Back', employees_path, :class => 'btn btn-secondary' %>
