<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--form attributes-->
<div class="form-row">
  
      <div class="form-group col-md-4">
      <label for="store_id"><%= f.label :store_id %></label>
      <%= f.text_field :store_id, :class => "form-control" %>
      </div>
      
      <div class="form-group col-md-4">
      <label for="employee_id"><%= f.label :employee_id %></label>
      <%= f.text_field :employee_id, :class => "form-control" %>
      </div>

</div>

<div class="form-row">
  
  <div class="form-group col-md-2">
    <label for="start_date"><%= f.label :start_date %></label>
    <%= f.text_field :start_date, :class => "form-control" %>
  </div>
  
  <div class="form-group col-md-4">
      <label for="end_date"><%= f.label :end_date %></label>
      <%= f.text_field :end_date, :class => "form-control" %>
  </div>
    
    
</div>


<div class="form-row">
  
  <div class="form-group col-md-4">
      <label for="pay_level"><%= f.label :pay_level %></label>
      <%= f.text_field :pay_level, :class => "form-control" %>
  </div>
  
</div>


<%= f.submit "Submit", :class => 'btn btn-primary' %>
<br/>

<br/>
<% end %>

