    <!--navigation bar-->
    <div class="container-fluid" >

		    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F0EFEE;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <span class="nav-link"><%= link_to 'Current', current_assignments_path %></span> 
      </li>
      <li class="nav-item">
        <span class="nav-link"><%= link_to 'Past', past_assignments_path %></span> 
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'By Store', bystore_assignments_path %></span> 
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'By Employee', byemployee_assignments_path %></span>
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'For Store', forstore_assignments_path %></span>
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'For Employee', foremployee_assignments_path %></span>
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'For Pay Level', forpaylevel_assignments_path %></span>
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'For Role', forrole_assignments_path %></span>
      </li>
    </ul>

    
  </div>
  
</nav>
</div>


<!--link to a new assignment-->
<%= link_to 'New Assignment', new_assignment_path %>
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Assignment</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
 
    </tr>
  </thead>
  <tbody>
    
      
      <% @assignments.each do |assignment| %>
        <tr>
          <td><%= link_to assignment.id, assignment_path(assignment) %></td>
          <td><%= link_to 'Edit', edit_assignment_path(assignment), :class=> "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', assignment, confirm: 'Are you sure?', method: :delete, :class=> "btn btn-danger" %></td>
        </tr>
      <% end %>
    
    
  </tbody>
</table>


<br />


<br />


