 <table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Store</th>
      <th scope="col">Shifts</th>
      <th scope="col">Employee</th>
     <th scope="col">Start Date</th>
     <th scope="col">End Date</th>
     <th scope="col">Pay Level</th>
    </tr>
  </thead>
  <tbody>
    
      
      
        <tr>
          <td><%= @assignment.store_id %> </td>
          <td><%= link_to 'View All', shifts_path(Shift.find_by(assignment_id: @assignment.id)) %></td>
          <td><%= @assignment.employee_id %></td>
          <td><%= @assignment.start_date %></td>
          <td><%= @assignment.end_date %></td>
          <td><%= @assignment.pay_level %></td>
        </tr>
      
    
    
  </tbody>
</table>


<br />


<br />


<%= link_to 'Edit', edit_assignment_path(@assignment), :class => 'btn btn-warning' %> |
<%= link_to 'Back', assignments_path, :class => 'btn btn-secondary' %>
