
    
    <div class="container-fluid" >

		    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B0EEEE;">
  <a class="navbar-brand" href="/pages/home">A & M Creamery </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        
        <a class="nav-link" href="/stores">Stores</a>
        
      </li>

       <li class="nav-item">
         
        <a class="nav-link" href="/jobs">Jobs</a>
   
      </li>
      <li class="nav-item">
         
        <a class="nav-link" href="/flavors">Flavors</a>
   
      </li>
    
    </ul>
    

    
    
  </div>
  
</nav>
</div>
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Full Name</th>
      <th scope="col">Account</th>
      <th scope="col">Assignments</th>
     <th scope="col">Shifts</th>
     <th scope="col">Shift-Jobs</th>
    </tr>
  </thead>
  <tbody>
    
      
      
        <tr>
          <td><%= link_to current_user.employee.proper_name, employee_path(current_user.employee) %></td>
          <td><%= link_to 'View Account', user_path(current_user) %></td>
          <td><%= link_to 'View Assignments', assignment_path(current_user.employee.current_assignment) %></td>
          <td><%= link_to 'View Shifts', shift_path(Shift.where(assignment_id: Assignment.for_employee(current_user.employee)).ids) %></td>
          <td><%= link_to 'View Shift-Jobs', shift_jobs_path(ShiftJob.where(shift_id: (Shift.where(assignment_id: Assignment.for_employee(current_user.employee)) ).ids).ids) %></td>
        </tr>
      
    
    
  </tbody>
</table>


<br />

<br />