<%= form_for(:demo, url: demos_path) do |f| %>
 
<!--form attributes-->
<div class="form-row">
  
      <div class="form-group col-md-2">
      <label for="Employee ID"><%= f.label :employee_id %></label>
      <%= f.text_field :employee_id, :class => "form-control" %>
      </div>
      
      <div class="form-group col-md-4">
      <label for="Email"><%= f.label :email %></label>
      <%= f.text_field :email, :class => "form-control" %>
      </div>

</div>

<div class="form-row">
  
  <div class="form-group col-md-2">
    <label for="Password"><%= f.label :password %></label>
    <%= f.text_field :password, :class => "form-control" %>
  </div>
  
    
</div>


<%= f.submit "Login", :class => 'btn btn-primary' %>
<br/>

<br/>
<% end %>

