<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>
      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--form attributes-->
<div class="form-row">
  
      <div class="form-group col-md-4">
      <label for="name"><%= f.label :name %></label>
      <%= f.text_field :name, :class => "form-control" %>
      </div>
      
      <div class="form-group col-md-4">
      <label for="street">Street</label>
      <%= f.text_field :street, :class => "form-control" %>
      </div>

</div>

<div class="form-row">
  
  <div class="form-group col-md-2">
    <label for="city"><%= f.label :city %></label>
    <%= f.text_field :city, :class => "form-control" %>
  </div>
  
  <div class="form-group col-md-4">
      <label for="state"><%= f.label :state %></label>
      <%= f.select "state", options_for_select([["OH"],["PA"],["WV"]]), :class => "form-control" %>
  </div>
    
    <div class="form-group col-md-2">
      <label for="zip"><%= f.label :zip %></label>
      <%= f.text_field :zip, :class => "form-control" %>
    </div>
    
    <div class="form-group col-md-4">
      <label for="phone"><%= f.label :phone %></label>
      <%= f.text_field :phone, :class => "form-control" %>
    </div>
    
</div>

<div class="form-row">
    
  <div class="form-group col-md-4">
      <label for="longitude"><%= f.label :longitude %></label>
      <%= f.text_field :longitude, :class => "form-control" %>
    </div>

  <div class="form-group col-md-4">
      <label for="latitude"><%= f.label :latitude %></label>
      <%= f.text_field :latitude, :class => "form-control" %>
    </div>
    
</div>

<div class="form-row">
  
  <div class="form-group col-md-4">
      <label for="active"><%= f.label :active %></label>
      <%= f.select "active", options_for_select([["true"],["false"]]), :class => "form-control" %>
  </div>
  
</div>


  <%= f.submit "Submit", :class => 'btn btn-primary' %>
<br/>

<br/>
 <% end %>
