<h4> Stores </h4>


  <!--navigation bar-->
    <div class="container-fluid" >

		    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F0EFEE;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <span class="nav-link"><%= link_to 'Active', active_stores_path %></span> 
      </li>
      <li class="nav-item">
       <span class="nav-link"><%= link_to 'Inactive', inactive_stores_path %></span>
      </li>

    </ul>

    
  </div>
  
</nav>
</div>

<%= link_to 'New Store', new_store_path %>

<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Store</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
 
    </tr>
  </thead>
  <tbody>
    
      
      <% @stores.each do |store| %>
        <tr>
          <% if can? :show, Store %>
          <td><%= link_to store.name, store_path(store) %></td>
          <% end %>
          <% if can? :edit, Store %>
          <td><%= link_to 'Edit', edit_store_path(store), :class=> "btn btn-warning" %></td>
          <% end %>
          <% if can? :destroy, Store %>
          <td><%= link_to 'Destroy', store, method: :delete, confirm: 'Are you sure?', :class=> "btn btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    
    
  </tbody>
</table>

<div class="p-3 mb-2 bg-light text-dark"><button class="btn btn-light" onclick="goBack()">Back</button></div>
<br />

<br />


