<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Active</th>
      
    </tr>
  </thead>
  <tbody>
    
      
      
        <tr>
          <td><%= @job.name %> </td>
          <td><%= @job.description %></td>
          <td><%= @job.active %></td>
        </tr>
      
    
    
  </tbody>
</table>


<br />


<br />



<%= link_to 'Edit', edit_job_path(@job), :class => 'btn btn-warning' %> |
<%= link_to 'Back', jobs_path, :class => 'btn btn-secondary' %>
