
<%= link_to 'New User', new_user_path %>
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">User</th>
      <th scope="col">Edit</th>
      <th scope="col">Inactivate</th>
 
    </tr>
  </thead>
  <tbody>
    
      
      <% @users.each do |user| %>
        <tr><%= user.employee_id %>
          <td><%= link_to user.email, user_path(user) %></td>
          <td><%= link_to 'Edit', edit_user_path(user), :class=> "btn btn-warning" %></td>
          <td><%= link_to 'Inactivate', user, confirm: 'Are you sure?', method: :delete, :class=> "btn btn-danger" %></td>
        </tr>
      <% end %>
    
    
  </tbody>
</table>


<br />

<br />



