<%= simple_form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--form attributes-->
<div class="form-row">
  
      <div class="form-group col-md-4">
      <% if current_user.role? :admin %>
      
      <%= f.input :assignment_id, :class => "form-control", collection: Assignment.current.ids %>
      <% else %>
      
      <%= f.input :assignment_id, :class => "form-control", collection: Assignment.for_store(current_user.employee.current_assignment.store_id).ids  %>
      <% end %>
      
      
      </div>
      
      <div class="form-group col-md-4">
      <%= f.date_field :date, :label => "Start Date", as: :string, :class => "form-control" %>
      </div>

</div>

<div class="form-row">
  
  <div class="form-group col-md-2">
    <label for="start_time"><%= f.label :start_time %></label>
    <%= f.text_field :start_time, :class => "form-control" %>
  </div>
  
  <div class="form-group col-md-4">
      <label for="end_time"><%= f.label :end_time %></label>
      <%= f.text_field :end_time, :class => "form-control" %>
  </div>
    
</div>


<div class="form-row">
  
  <div class="form-group col-md-4">
      <label for="notes"><%= f.label :notes %></label>
      <%= f.text_field :notes, :class => "form-control" %>
  </div>
  
</div>


<%= f.submit "Submit", :class => 'btn btn-primary' %>
<br/>

<br/>
<% end %>


