<!--navigation bar-->
    <div class="container-fluid" >

		    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F0EFEE;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <span class="nav-link"><%= link_to 'All', employees_path %></span> 
      </li>
      
    </ul>

    
  </div>
  
</nav>
</div>

<!--link to new employee-->
<% if can? :create, Shift %>
<%= link_to 'New Shift', new_shift_path %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Shift</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
 
    </tr>
  </thead>
  <tbody>
    
      
      <% @shifts.each do |shift| %>
        <tr>
          <td><%= link_to shift.id, shift_path(shift) %></td>
          <td><%= link_to 'Edit', edit_shift_path(shift), :class=> "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', shift, confirm: 'Are you sure?', method: :delete, :class=> "btn btn-danger" %></td>
        </tr>
      <% end %>
    
    
  </tbody>
</table>


<br />

<br />